# FastAPI 및 서버
fastapi
uvicorn[standard]
python-multipart

# 데이터베이스
mysql-connector-python


# AWS S3
boto3

# 비디오 처리
ffmpeg-python==0.2.0
static-ffmpeg==2.5

# 유틸리티
python-dotenv

# 인증
PyJWT==2.8.0

# 로깅
loguru==0.7.2

# CORS
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4